$primary: #2D3A40;
$secondary: #748296;
$border: #FFFFFF;
// input text-color rgba(45, 58, 64, 0.3);
$btn-success:#14E298;
$body: #E5E5E5;
$danger:#F0175C;
$info:#F5F7FA;
// buttons
$button:#14E298;
$button-hover:#23F7AB;
// form
$input-color: rgba(45, 58, 64, 0.3);
$input-border: rgba(116, 130, 150, 0.2);
$input-background: #FFFFFF;
$input-focus: #326FFF;
$input-focus-color: #2D3A40;
